body {
  font-family: Georgia, 'Times New Roman', Times, serif;
     text-align: center;
    background: url("https://i.pinimg.com/736x/77/8c/fe/778cfe48cba46b5e8e8e9001a74e6541.jpg") no-repeat center center fixed;
    background-size: cover;
    color: rgb(216, 140, 166);
  }





